# SHARK ATTACK!!!!

In [78]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import src.cleaning_functions as cl

In [2]:
pwd

'/mnt/c/Users/jorge/Ironhack/Proyectos/Shark-Attack'

In [3]:
df = pd.read_csv('../../Datasets/Shark_Attack/attacks.csv',encoding='ISO-8859-1')

In [4]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [5]:
df.Activity.value_counts()

Surfing                                   971
Swimming                                  869
Fishing                                   431
Spearfishing                              333
Bathing                                   162
                                         ...
Playing with a frisbee in the shallows      1
Sinking of the ferryboat Dumaguete          1
Wreck of the Storm King                     1
Feeding mullet to sharks                    1
Wreck of  large double sailing canoe        1
Name: Activity, Length: 1532, dtype: int64

In [6]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [7]:
df.shape

(25723, 24)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [9]:
df.describe() #no sirve de nada, lo unico numeric que sirve de algo van a ser las fechas, el resto es todo objects que nos rentan

              Year  original order
count  6300.000000     6309.000000
mean   1927.272381     3155.999683
std     281.116308     1821.396206
min       0.000000        2.000000
25%    1942.000000     1579.000000
50%    1977.000000     3156.000000
75%    2005.000000     4733.000000
max    2018.000000     6310.000000

In [10]:
years = df.Year
years

0        2018.0
1        2018.0
2        2018.0
3        2018.0
4        2018.0
          ...
25718       NaN
25719       NaN
25720       NaN
25721       NaN
25722       NaN
Name: Year, Length: 25723, dtype: float64

In [11]:
columnas_interesantes = ['Type', 'Species ', 'Area', 'Activity', 'Injury', 'Fatal (Y/N)']
df[columnas_interesantes].head()

,Type,Species,Area,Activity,Injury,Fatal (Y/N)
0,Boating,White shark,California,Paddling,"No injury to occupant, outrigger canoe and pad...",N
1,Unprovoked,NaN,Georgia,Standing,Minor injury to left thigh,N
2,Invalid,NaN,Hawaii,Surfing,Injury to left lower leg from surfboard skeg,N
3,Unprovoked,2 m shark,New South Wales,Surfing,Minor injury to lower leg,N
4,Provoked,"Tiger shark, 3m",Colima,Free diving,Lacerations to leg & hand shark PROVOKED INCIDENT,N

##### Podemos hacer un estudio sobre la relacion que hay entre la actividad que se esta realizando y la injury que ha sufrido

##### Otra puede ser la cantidad de ataques que hay al año en segun que region

In [12]:
df.isnull().sum() #increible la cantidad de nulos...QUE MARAVILLA

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

### Vamos a centrarnos en la columna del tipo de ataque, a ver que tiene y que no y que hacemos con los vamores nulos :)

In [13]:
df.Type.value_counts()

Unprovoked      4595
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
Questionable       2
Boatomg            1
Name: Type, dtype: int64

In [14]:
df.Type.isna().sum() # xd. a ver que hacemos con esto

19425

In [15]:
df.Type.fillna('Unknown attack type', inplace = True)

In [16]:
df.Type.isna().sum() #ya no tenemos nules hehe

0

In [17]:
df.Type.value_counts()

Unknown attack type    19425
Unprovoked              4595
Provoked                 574
Invalid                  547
Sea Disaster             239
Boating                  203
Boat                     137
Questionable               2
Boatomg                    1
Name: Type, dtype: int64

### nos interesa ahora la columna de la actividad del humano en cuestion, ¿habrá alguna relación?

In [18]:
df.Activity.value_counts()

Surfing                                   971
Swimming                                  869
Fishing                                   431
Spearfishing                              333
Bathing                                   162
                                         ...
Playing with a frisbee in the shallows      1
Sinking of the ferryboat Dumaguete          1
Wreck of the Storm King                     1
Feeding mullet to sharks                    1
Wreck of  large double sailing canoe        1
Name: Activity, Length: 1532, dtype: int64

In [19]:
df.Activity.isna().sum() # :))))))

19965

In [20]:
df.Activity.fillna('Unknown activity', inplace = True)

In [21]:
df.Activity.value_counts()

Unknown activity                          19965
Surfing                                     971
Swimming                                    869
Fishing                                     431
Spearfishing                                333
                                          ...
Playing with a frisbee in the shallows        1
Sinking of the ferryboat Dumaguete            1
Wreck of the Storm King                       1
Feeding mullet to sharks                      1
Wreck of  large double sailing canoe          1
Name: Activity, Length: 1533, dtype: int64

In [22]:
df.Activity.unique()

array(['Paddling', 'Standing', 'Surfing', ...,
       'Crew swimming alongside their anchored ship',
       '4 men were bathing', 'Wreck of  large double sailing canoe'],
      dtype=object)

### ¿Que injury ha sufrido este humano?

In [23]:
df.Injury.value_counts()

FATAL                                                                                     802
Survived                                                                                   97
Foot bitten                                                                                87
No injury                                                                                  82
Leg bitten                                                                                 72
                                                                                         ...
Cut foot, but injury caused by fishing line, not the shark                                  1
Left foot bitten after he accidentally stepped on the shark         PROVOKED INCIDENT       1
2 puncture wounds in left leg                                                               1
PROVOKED INCIDENT    Knee bitten by shark trapped in net                                    1
FATAL. "Shark bit him in half, carrying away the lower extremities"                         1
Name: Injury, Length: 3737, dtype: int64

In [24]:
df.Injury.isna().sum()

19449

In [25]:
df.Injury.fillna('Unknown injury', inplace = True)

In [26]:
df.Injury.value_counts()

Unknown injury                                                                            19449
FATAL                                                                                       802
Survived                                                                                     97
Foot bitten                                                                                  87
No injury                                                                                    82
                                                                                          ...
Cut foot, but injury caused by fishing line, not the shark                                    1
Left foot bitten after he accidentally stepped on the shark         PROVOKED INCIDENT         1
2 puncture wounds in left leg                                                                 1
PROVOKED INCIDENT    Knee bitten by shark trapped in net                                      1
FATAL. "Shark bit him in half, carrying away the lower extremities"                           1
Name: Injury, Length: 3738, dtype: int64

In [27]:
# ¿Puedo contar la cantidad de accidentes que ha habido en un año en cada pais?

df2 = df.groupby("col1")["col2"].counts() #esta es la sintaxis

In [28]:
# pimero voy a limpiar los años y las zonas

In [29]:
df.Year.isna().sum()

19423

In [30]:
df.Year.fillna('Unknown year', inplace = True)

In [31]:
df.Year.value_counts()

Unknown year    19423
2015.0            143
2017.0            136
2016.0            130
2011.0            128
                ...
1786.0              1
1785.0              1
1784.0              1
1783.0              1
1815.0              1
Name: Year, Length: 250, dtype: int64

In [32]:
df.Country.isna().sum()

19471

In [33]:
df.Year.fillna('Unknown year', inplace = True)

In [34]:
df.Year.value_counts()

Unknown year    19423
2015.0            143
2017.0            136
2016.0            130
2011.0            128
                ...
1786.0              1
1785.0              1
1784.0              1
1783.0              1
1815.0              1
Name: Year, Length: 250, dtype: int64

In [35]:
df.Country.isna().sum()

19471

In [36]:
df.Country.fillna('Unknown Country', inplace = True)

In [37]:
df.Country.value_counts()

Unknown Country          19471
USA                       2229
AUSTRALIA                 1338
SOUTH AFRICA               579
PAPUA NEW GUINEA           134
                         ...
THE BALKANS                  1
NORTH ATLANTIC OCEAN         1
MAYOTTE                      1
GABON                        1
CEYLON (SRI LANKA)           1
Name: Country, Length: 213, dtype: int64

In [38]:
df.Date.isna().sum() #no compensa sacar el año de aqui, tengo los mismos nulls que en Years

19421

In [39]:
df['Sex '].fillna('Unknown sex', inplace = True)

In [40]:
df['Sex '].isna().sum()

0

In [41]:
df.Activity.isna().sum()

0

In [42]:
df.Type.isna().sum()

0

In [43]:
df.Injury.isna().sum()

0

In [44]:
df['Fatal (Y/N)'].isna().sum()

19960

In [45]:
df['Fatal (Y/N)'].fillna('Unknown outcome', inplace = True)

In [46]:
df['Fatal (Y/N)'].isna().sum()

0

#### Me creo un data frame nuevo donde tenemos las columnas de Country, Year, Fatal, Injury, Type, Activity y Sex

In [47]:
# ojo que me cargo muchos datos,esto hay que compararlo con el df entero pero con los unknown

In [48]:
df2 = df[(df["Year"] != "Unknown year") & (df['Country'] != 'Unknown Country') & (df['Fatal (Y/N)'] != 'Unknown outcome') & (df['Injury'] != 'Unknown injury') & (df['Type'] != 'Unknown type') & (df['Activity'] != 'Unknown activity') & (df['Sex '] != 'Unknown sex')]
df2

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6296,ND.0006,Before 1906,0.0,Unprovoked,AUSTRALIA,New South Wales,,Swimming,Arab boy,M,...,Said to involve a grey nurse shark that leapt ...,"L. Becke in New York Sun, 9/9/1906; L. Schultz...",ND-0006-ArabBoy-Prymount.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0006,ND.0006,7.0,NaN,NaN
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [49]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [50]:
df2.shape

(4930, 24)

In [51]:
df.shape

(25723, 24)

In [52]:
# OJO CON ESTA DIERENCIA DE DATOS, EL DF2 ES SIN LOS NAN

In [53]:
df.Year.value_counts()

Unknown year    19423
2015.0            143
2017.0            136
2016.0            130
2011.0            128
                ...
1786.0              1
1785.0              1
1784.0              1
1783.0              1
1815.0              1
Name: Year, Length: 250, dtype: int64

In [54]:
df2.Year.value_counts()

2015.0    123
2017.0    113
2016.0    113
2011.0    111
2014.0    109
         ...
1869.0      1
1825.0      1
1841.0      1
1866.0      1
1857.0      1
Name: Year, Length: 217, dtype: int64

In [55]:
# Ahora podemos sacar con un groupby la cantidad de accidentes por año y por pais

In [56]:
agrupado = df2['Year'].groupby(df2['Country']).value_counts()

In [57]:
agrupado.head()

Country       Year
 PHILIPPINES  1944.0    1
 TONGA        2004.0    2
              2000.0    1
AFRICA        1846.0    1
ALGERIA       1844.0    1
Name: Year, dtype: int64

In [58]:
df_group = pd.DataFrame(agrupado)
df_group.head(10)

                                   Year
Country                    Year
 PHILIPPINES               1944.0     1
 TONGA                     2004.0     2
                           2000.0     1
AFRICA                     1846.0     1
ALGERIA                    1844.0     1
AMERICAN SAMOA             1954.0     1
                           1955.0     1
                           1958.0     1
ANDAMAN / NICOBAR ISLANDAS 1958.0     1
ANDAMAN ISLANDS            1863.0     1

In [59]:
df_group.columns = ['Attacks'] #cambio el nombre de la columna, porque realmente corresponde al numero de ataques x zona x año

In [60]:
df_group

                      Attacks
Country       Year
 PHILIPPINES  1944.0        1
 TONGA        2004.0        2
              2000.0        1
AFRICA        1846.0        1
ALGERIA       1844.0        1
...                       ...
WESTERN SAMOA 1972.0        1
YEMEN         1955.0        1
YEMEN         1898.0        3
              1895.0        1
              1906.0        1

[1554 rows x 1 columns]

In [61]:
df.to_csv("shark_attack_unknwons.csv")
df2.to_csv('shark_attack_no_unknowns.csv')

In [62]:
df_group.to_csv('country_year_attacks.csv')

In [79]:
df['Activity'] = df['Activity'].apply(cl.activity) #la funcion que utilizo es de mi archivo .py importado arriba

In [66]:
df.Activity.value_counts()

Unknown activity    22897
Surfing              1188
Swimming             1121
Fishing               296
Diving                193
Paddling               18
Kayaking                4
Sailing                 4
Snorkeling              2
Name: Activity, dtype: int64

In [67]:
# me voy a crear un pequeño data frame con todo menos los unknowns, no me interesan para representarlos

In [72]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Unknown activity,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Unknown activity,Adyson McNeely,F,...,Species unknown,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,Species unknown,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,Species unknown,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Unknown activity,Gustavo Ramos,M,...,Tiger shark,A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [73]:
df['Species '] = df['Species '].apply(cl.species)

In [77]:
df['Species '].value_counts() #maravilla

Species unknown    24500
White shark          664
Tiger shark          283
Bull shark           177
Reef shark            65
Lemon shark           34
Name: Species , dtype: int64

In [75]:
df.to_csv("shark_attack_unknwons.csv")
df2.to_csv('shark_attack_no_unknowns.csv')
df_group.to_csv('country_year_attacks.csv')